:root {
    --glow-color: hsl(186 100% 69%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
    background: linear-gradient(45deg,#000000,#001c2b,#031924,#000000);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
  }
  
  button {
    width: 25vw; /* 60% of the viewport width */
    height: 45px;
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    border: none;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem 3rem;
    transition: 0.2s;
    margin-top: 2px;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    animation: box 3s infinite;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #011926;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
  @keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.content1 {
    position: absolute;
    left: 80px;
    top: 4%;
    width: 40vw;
}
h1 {
    color: #02eeff;
    font-weight: bold;
    font-size: 5vw;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    margin-left: 8%;
    color: #02eeff;
    font-weight: bold;
    font-size: 2.5vw;
    font-family: 'Noto Sans Thai', sans-serif;
}
h3 {
  margin-left: 8%;
  color: #b70098;
  font-weight: bold;
  font-size: 1.8vw;
  font-family: 'Noto Sans Thai', sans-serif;
}
.content2 {
    border: 5px solid #00bbff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 12%;
    top: 13%;
    width: 25vw;
    height: 600px;
    animation: animateProfile 6s ease-in-out infinite;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}
.profile {
    width: 450px;
    height: 100%;
}
@keyframes animateProfile {
    0%,100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-50px);
    }
}
.thisweb {
  background-color: #8A2BE2;
}